region = "us-west-1"

aws_access_key = ""
aws_secret_key = ""

consul_ami = "ami-b76a8ff3"
statsd_ami = "ami-bf6a8ffb"
grafana_ami = "ami-bd6a8ff9"
influx_ami = "ami-c7ad4e83"
goodtimes_ami = ""

goodtimes_db_host = "feelings.cmilwsejzmav.us-west-1.rds.amazonaws.com"
goodtimes_db_name = ""
goodtimes_db_user = ""
goodtimes_db_pass = ""

slack_app_id = ""
slack_secret = ""

domain_name = ""
key_name = ""
