region = "us-west-1"

aws_access_key = ""
aws_secret_key = ""

consul_ami = ""
statsd_ami = ""
grafana_ami = ""
influx_ami = ""
goodtimes_ami = ""

goodtimes_db_host = ""
goodtimes_db_user = ""
goodtimes_db_pass = ""

slack_app_id = ""
slack_secret = ""

domain_name = ""
key_name = ""
